<h1>Cryptos#query</h1>
<p>Find me in app/views/cryptos/query.html.erb</p>

<h2>Input your message</h2>

<form action="/decrypt">
  <input type="text" name="message">
  <input type="text" name="start_time" value="<%= @start_time %>">
  <input type="submit">

</form>
